extends layout

block content
  .row.banner
    .col-12
      h1 About
  .row
    .col-12.col-lg-8
      .card
        .card-body
          h2 
          p 
            | At FoodZee, we believe that food is more than just sustenance; it's a journey of discovery and delight. Our platform connects you to a world of culinary experiences, from local favorites to global cuisines. With FoodZee, you can easily find the perfect restaurant for any occasion, explore diverse menus, read reviews, and make reservations with just a few clicks. We're passionate about helping you discover new flavors, support local businesses, and create unforgettable dining memories. Join us on this culinary adventure and let FoodZee be your guide to the best food in town.
